:root {
  --purple: #6E40C9;
  --green: #3FAD27;
  --red: 	#ad273f;
  --background: #0D1117;
  --shapes: #21262D;
  --text-title: #CCD6F6;
  --text: #C9D1D9;
  --text-light: #A09CB1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #121214;
  background: var(--background);
}

input, textarea {
  font-family: "Poppins";
  outline: none;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button, .checkmark {
  cursor: pointer;
  outline: none;
}